.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.pt-10 {
  padding-top: 10px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-225 {
  padding-top: 225px;
}

.pt-250 {
  padding-top: 250px;
}

.pt-300 {
  padding-top: 300px;
}

.pt-350 {
  padding-top: 350px;
}


.pt-500 {
  padding-top: 500px;
}

.divider-10 {
  width: 100%;
  height: 10px;
}

.divider-25 {
  width: 100%;
  height: 25px;
}

.divider-50 {
  width: 100%;
  height: 50px;
}

.divider-100 {
  width: 100%;
  height: 100px;
}


.divider-200 {
  width: 100%;
  height: 200px;
}

.divider-500 {
  width: 100%;
  height: 500px;
}