@font-face {
  src:  url('../fonts/icomoon.eot?4iwosh');
  src:  url('../fonts/icomoon.eot?4iwosh#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?4iwosh') format('truetype'),
  url('../fonts/icomoon.woff?4iwosh') format('woff'),
  url('../fonts/icomoon.svg?4iwosh#icomoon') format('svg');
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-excel:before {
  content: "\e900";
}
.icon-svn:before {
  content: "\e903";
  font-size: large;
  display: inline-block;
  transform: translateY(-2pt);
}
.icon-maya:before {
  content: "\e904";
}
.icon-substance:before {
  content: "\e905";
}
.icon-gamemaker:before {
  content: "\e906";
}
.icon-miro:before {
  content: "\e907";
}

.text-icon-gml {
  font-size: small;
  display: inline-block;
  transform: translateY(-6pt);
}

.text-icon-csharp {
  font-size: medium;
  display: inline-block;
  transform: translateY(-4pt);
}

a:hover .icon-gamemaker, a:hover .text-icon-gml {
  color: #89d43c;
}

a:hover .icon-excel {
  color:green;
}

a:hover .cib-slack {
  color: #2f8ab7;
}

a:hover .icon-miro {
  color: #ffc531;
}

a:hover .cib-git {
  color: #f05033;
}

a:hover .icon-svn  {
color: #809cc8;
}

a:hover .cib-visual-studio  {
  color:#9a6bd1 ;
}

a:hover .text-icon-csharp {
  color: #9a6bd1;
}

a:hover .cib-python  {
  color: #3771a3;
}

a:hover .cib-java  {
  color: #ea2d2f;
}

a:hover .cib-lua  {
  color: #5454fb;
}

a:hover .cib-adobe-photoshop  {
  color: #31a8ff;
}

a:hover .cib-adobe-after-effects  {
  color: #9999ff;
}

a:hover .cib-adobe-premiere  {
  color: #9999ff;
}

a:hover .cib-blender  {
  color: #f4792b;
}

a:hover .icon-maya {
  color: #4dacb0;
}

a:hover .icon-substance  {
  color: #e03028;
}

a:hover .cib-visual-studio-code  {
  color: #007acc;
}

a:hover .cib-javascript  {
  color: #f7df1e;
}

a:hover .cib-jquery  {
  color: #1169ae;
}

a:hover .cib-html5  {
  color: #e44d26;
}

a:hover .cib-css3  {
  color: #264de4;
}

a:hover .cib-php  {
  color: #8993c1;
}