@font-face {
  src: url('../fonts/icomoon.eot?4iwosh');
  src: url('../fonts/icomoon.eot?4iwosh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4iwosh') format('truetype'),
    url('../fonts/icomoon.woff?4iwosh') format('woff'),
    url('../fonts/icomoon.svg?4iwosh#icomoon') format('svg');
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-excel:before {
  content: "\e900";
}

.icon-svn:before {
  content: "\e903";
  font-size: large;
  display: inline-block;
  transform: translateY(4pt);
}

.icon-maya:before {
  content: "\e904";
}

.icon-substance:before {
  content: "\e905";
}

.icon-gamemaker:before {
  content: "\e906";
}

.icon-miro:before {
  content: "\e907";
}

.text-icon-gml {
  font-size: small;
  display: inline-block;
}

.text-icon-csharp {
  font-size: medium;
  display: inline-block;
}

.iconbox:hover .cib-unity,
.iconbox:hover .cib-unreal-engine {
  color: white;
}

.iconbox:hover .icon-gamemaker,
.iconbox:hover .text-icon-gml {
  color: #89d43c;
}

.iconbox:hover .icon-excel {
  color: green;
}

.iconbox:hover .cib-slack {
  color: #2f8ab7;
}

.iconbox:hover .icon-miro {
  color: #ffc531;
}

.iconbox:hover .cib-git {
  color: #f05033;
}

.iconbox:hover .icon-svn {
  color: #809cc8;
}

.iconbox:hover .cib-visual-studio {
  color: #9a6bd1;
}

.iconbox:hover .text-icon-csharp {
  color: #9a6bd1;
}

.iconbox:hover .cib-python {
  color: #3771a3;
}

.iconbox:hover .cib-java {
  color: #ea2d2f;
}

.iconbox:hover .cib-lua {
  color: #5454fb;
}

.iconbox:hover .cib-adobe-photoshop {
  color: #31a8ff;
}

.iconbox:hover .cib-adobe-after-effects {
  color: #9999ff;
}

.iconbox:hover .cib-adobe-premiere {
  color: #9999ff;
}

.iconbox:hover .cib-blender {
  color: #f4792b;
}

.iconbox:hover .icon-maya {
  color: #4dacb0;
}

.iconbox:hover .icon-substance {
  color: #e03028;
}

.iconbox:hover .cib-visual-studio-code {
  color: #007acc;
}

.iconbox:hover .cib-javascript {
  color: #f7df1e;
}

.iconbox:hover .cib-jquery {
  color: #1169ae;
}

.iconbox:hover .cib-html5 {
  color: #e44d26;
}

.iconbox:hover .cib-css3 {
  color: #264de4;
}

.iconbox:hover .cib-php {
  color: #8993c1;
}