.pattern-holder {
    position: absolute;
    width: 100%;
}

.pattern {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    animation: super-rainbow 1s infinite alternate linear;
    -webkit-animation: super-rainbow 1s infinite alternate linear;
    -moz-animation: super-rainbow 1s infinite alternate linear;
    position: relative;
    z-index: -1000;
}

.background img {
    mix-blend-mode: multiply;
}

.color-background {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 800% 200%;
    animation: super-rainbow 5s infinite alternate;
    -webkit-animation: super-rainbow 5s infinite alternate;
    -moz-animation: super-rainbow 5s infinite alternate;
}

.ptt-right {
    float: right;
    width: 75vw;
    transform: rotate(45deg) translate(0, -80%);
}

.ptt-left {
    float: left;
    width: 75vw;
    transform: rotate(45deg) translate(-80%, 0);
}

@keyframes super-rainbow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@-webkit-keyframes super-rainbow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@-moz-keyframes super-rainbow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}