:root {
    --highlight-color: #dc3545;
  }

body {
    background-color: #111;
    color: #fff;
    font-family: 'Lexend Deca', sans-serif;
    width: 98vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.center {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

#sidebar {
    width: 100%;
    z-index: 10;
    overflow: visible;
    position: relative;
}

    #sidebar h1 {
        text-align: center;
    }

    #sidebar #me {
        border-radius: 100%;
        width: 100%;
        height: 100%;
        margin: 1vh 0 2vh;
        position: relative;
    }

    #sidebar #me .overlay {
        position: absolute;
    }

    #sidebar #me img {
        width: 100%;
        border-radius: 100%;
        position: relative;
        top: 0;
        left: 0;
    }

    #sidebar .linebox {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 7em;
    }

    #sidebar .linebox #line {
        font-family: 'Cousine', monospace;
        font-size: x-large;
        margin: 0%;
    }

    #sidebar .linebox #line i {
        opacity: 0;
    }

    #sidebar #skillgroup-text-container {
        padding-top: 12pt;
        height: 10em;
    }

#content {
    position: relative;
    max-width: 100%;
    padding-top: 4vh;
    margin: 0;
}

@media (min-width: 992px) {
    
    #sidebar {
        margin-left: 64%;
        padding-right: 4%;
        padding-left: 4%;
        padding-top: 3vh;
        width: 36%;
        min-height: 100vh;
        position: absolute;
        
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    #sidebar::-webkit-scrollbar {
        display: none; 
      }

        #sidebar h1 {
            font-size: 2vw;
        }

    #content {
        position: absolute;
        width: 68%;
        height: 100%;
        padding: 4vh 4%;

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    #content::-webkit-scrollbar {
        display: none; 
      }
}

#projects {
    padding: 0 0 10%;
}

.project-preview {
    overflow: visible;
    height: 50vh;
    position: relative;
    transform: perspective(100px);
    z-index: 0;
    padding: 0;
    background-color: black;
}

    @media (max-width: 1300px) {
        .project-preview {
            width: 100%;
        }
    }

    .project-preview:hover {
        z-index: 100;
        box-shadow: black 10px 10px 50px;
    }

    .project-preview .hoverable {
        overflow: hidden;
        height: inherit;
        transition: all 0.5s ease;
        background-color: black;
    }

        @media (min-width: 992px) {
            .project-preview .hoverable:hover {
                transform: scale(1.1);
            }
        }

        @media not all and (min-resolution:.001dpcm) { @supports (-webkit-appearance:none) and (display:flow-root) {
                .project-preview .hoverable:hover {
                    transform: scale(1);
                }
            } }

        .project-preview .hoverable .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.5s;
            text-align: center;
            padding: 32px;
            background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 80%);
            opacity: 0;
        }

            @media (max-width: 992px) { 
                .project-preview .hoverable .overlay {
                    opacity: 1;
                }
            }


            .project-preview .hoverable:hover .overlay {
                opacity: 1;
                box-shadow: inset 0px 0px 50px rgb(66, 66, 66);
            }

        .project-preview .overlay .title {
            width: 30vh;
        }

        .project-preview .overlay .info {
            position: absolute;
            left: 3vh;
            right: 3vh;
            bottom: 1vh;
        }

        .project-preview .overlay p {
            margin: 1pt ​0;
            text-align: left;
            font-size: 1.5vh;
        }

    .project-preview .center {
        height: inherit;
        display: flex;
        justify-content: center;
        transition: all 0.5s;
    }

        .project-preview .center::after {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
        }

        .project-preview .center img, .project-preview .center video {
            height: inherit;
        }

.project-preview:hover .center {
    box-shadow: inset 0px 0px 50px rgb(66, 66, 66);
    transform: scale(0.7);
}

.tag {
    background-color: #1c1c1c;
    color: #fdfdfd;
    padding: 6px 10px;
    border: #1c1c1c 1px solid;
    border-radius: 100px;
}

.tag:hover {
    background-color: #2f2020;
    border: #fdfdfd 1px solid;
}

.activeTag, .activeTag:hover {
    background-color: var(--highlight-color);
    border: var(--highlight-color) 1px solid;
    color: #111;
}

.project-tags {
    display: flex;
    padding: 0;
    list-style: none;
    color: #000;
    transform: translate(-16px,0);
}

.project-tags li {
    border-radius: 100px;
    background-color: white;
    padding: 2px 8px 0px;
    margin-top: 8px;
    margin-left: 8px;
    font-size: 1.3vh;
}

    .project-tags li::before {
        content: "#";
    }

strong {
    color: #fdf87a;
}

strong {
    position: relative;
    color: black;
    display: inline;
    margin-left: 0.25em;
    margin-right: 0.25em;
    z-index: 1;
    background: linear-gradient( 0deg, #fff0 10%, var(--highlight-color) 10.1%, var(--highlight-color) 90%, #fff0 90.1%);
}

strong:before {
        content: "";
        background-color: var(--highlight-color);
        width: 110%;
        height: 93%;
        position: absolute;
        z-index: -1;
        filter: url(#marker-shape);
        left: -5%;
        transform: rotate(1deg) translateY(20%);
    }


.icon {
    font-size: x-large;
    margin: 2pt;
    line-height: 1.2em;
}

.button {
    background-color: #1c1c1c;
    color: #fdfdfd;
    border: #1c1c1c 1px solid;
    border-radius: 100px;
	display: inline-flex;
	width: 100%;
	text-align: center;
	vertical-align: auto;
	text-decoration: none;
	transition: all 0.2s ease;
	padding: 4pt 4pt 4pt 14pt;
	margin: 4pt;
}

.button:hover {
    background-color: #2f2020;
    border: #fdfdfd 1px solid;
	color: #fff;
	transform: scale(1.05);
}

.button p {
	
	margin: 4pt;
}

.button span{
	display: none;
	position: absolute;
	transform: translate(-5vw);
}

.button:hover span{
	display:initial;
}

.overlay-button {
    background: rgba(0,0,0,0.3);
    border-radius: 100%;
	opacity: 0.4;
	transition: all 0.5s ease;
}

    .overlay-button:hover {
        opacity: 1;
        transform: scale(1.1);
    }