
.textbox {
    overflow: hidden;
    /* color: #fff; */
    text-align: center;
    /*  padding: 4pt 4pt; */
    font-family: 'Lexend Deca';
    position: absolute;
    z-index: 1;
    /* text-shadow: 1pt 1pt 1pt black; */
    /* position: absolute; */
    left: 0;
    z-index: 1;
    transition: all 0.25s ease;
}

.tooltip-icon-button {
    display: inline-block;
	text-decoration: none;
    transform: scale(1);
    color: var(--highlight-color);
}

.skillgroup {
    display: flex;
    text-decoration: none;
    transform: scale(1);
    color: #fff;
}

.skillgroup:hover {
    color: #fff;
}

.skillgroup:hover .icons {
    transform: scale(1.1);
}

    .tooltip-icon-button span {
        transform: translate(-40%, 20pt);
        width: max-content;
        font-size: 0;
    }  
    
    .skillgroup span {
        transform: translate(-50pt, 20pt);
        font-size: 0;
        left: 0;
        width: 200pt;
        top: 2em;
    }

    .tooltip-icon-button:hover  {
        transform: scale(1.1);
        color: #fff;
    }

    .tooltip-icon-button:hover span {
        font-size: medium;
    }

@media (min-width: 992px) {
    .mobile-only {
        display: none;
    }
    
    .skillgroup {
        color: var(--highlight-color);
    }
}
    
@media (max-width: 992px) {
    .d-only {
        display:none;
    }

    .mobile-m-2 {
        margin: 2vw;
    }
    

    .skillbox {
        display: block;
    }
    
    .skillgroup {
        display: flex;
        justify-content: end;
    }

    .skillgroup ul {
        width:60%;
    }

    .skillgroup h6 {
        text-align: right;
    }
}
