body {
    background-color: #111;
    color: #ffcf99;
    color: #fff;
    font-family: 'Neucha', cursive;
}

#sidebar {
    margin-left: 68%;
    padding-right: 4%;
    padding-top: 10vh;
    width: 32%;
    position: fixed;
}

#sidebar #me {
    border-radius: 100%;
    width: 100%;
    transition: transform 0.1s;
}

#content {
    position: absolute;
    width: 60%;
    margin: 2% 4%;
}

#projects {
    padding-top: 2%;
}

.project-preview {
    overflow: visible;
    height: 50vh;
    position: relative;
    transform: perspective(100px);
    z-index: 0;
    padding: 0;
    background-color: black;
}

    .project-preview:hover {
        z-index: 100;
        box-shadow: black 10px 10px 50px;
    }

    .project-preview .hoverable {
        overflow: hidden;
        height: inherit;
        transition: all 0.5s ease;
        background-color: black;
    }

        .project-preview .hoverable:hover {
            transform: scale(1.2);
        }

        .project-preview .hoverable .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.5s;
            text-align: center;
            padding: 32px;
            opacity: 0;
        }

            .project-preview .hoverable:hover .overlay {
                box-shadow: inset 0px 0px 50px rgb(66, 66, 66);
                background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 80%);
                opacity: 1;
            }

        .project-preview .overlay .title {
            width: 30vh;
        }

        .project-preview .overlay .info {
            position: absolute;
            left: 3vh;
            right: 3vh;
            bottom: 1vh;
        }

        .project-preview .overlay p {
            margin: 0;
            text-align: left;
            font-size: 1.5vh;
        }

        .project-preview .overlay ul {
            display: flex;
            padding: 0;
            list-style: none;
            color: #000;
            transform: translate(-16px,0);
        }

        .project-preview .overlay li {
            border-radius: 100px;
            background-color: white;
            padding: 2px 8px 0px;
            margin-top: 8px;
            margin-left: 8px;
            font-size: 1.3vh;
        }

            .project-preview .overlay li::before {
                content: "#";
            }

    .project-preview .center {
        height: inherit;
        display: flex;
        justify-content: center;
        transition: all 0.5s;
    }

        .project-preview .center::after {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
        }

        .project-preview .center img, .project-preview .center video {
            height: inherit;
        }

.project-preview:hover .center {
    box-shadow: inset 0px 0px 50px rgb(66, 66, 66);
    transform: scale(0.7);
}

.tag {
    background-color: #1c1c1c;
    color: #fdfdfd;
    padding: 6px 10px;
    border: #1c1c1c 1px solid;
    border-radius: 100px;
}

.tag:hover {
    background-color: #2f2c20;
    border: #fdfdfd 1px solid;
}

.activeTag, .activeTag:hover {
    background-color: #fdf87a;
    border:#fdf87a 1px solid;
    color: #111;
}

h2 {
    color: #fdf87a;
}

 h2 {
    position: relative;
    color: black;
    display: inline;
    margin-left: 0.25em;
    margin-right: 0.25em;
    z-index: 1;
    background: linear-gradient( 0deg, #fff0 10%, #f8ff84 10.1%, #f8ff84 90%, #fff0 90.1%);
}

    h2:before {
        content: "";
        background-color: #f8ff84;
        width: 110%;
        height: 93%;
        position: absolute;
        z-index: -1;
        filter: url(#marker-shape);
        left: -5%;
        transform: rotate(1deg);
    }