<div id="image-fullscreen-overlay">
    <div class="wrapper">
        <div class="image-container">
            <img src="img/gamesweek/1.jpg">
            <div class="button-container">
                <i class="image-button overlay-button cil-arrow-left" id="button-previous"></i>
                <i class="image-button overlay-button cil-arrow-right" id="button-next"></i>
                <i class="image-button overlay-button cil-x " id="button-back"></i>
            </div>
        </div>
    </div>
</div>