<!-- Mobile linkouts -->
<div class="row justify-content-evenly mobile-only mobile-m-2">
    <div class="col-md-6">
        <a href="mailto:lucas@lumotex.de" class="button">
            <div class="center">
                <i class="icon cib-mail-ru"></i>
                <p>lucas@lumotex.de</p>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/lucas-b%C3%B6deker-98ba65151/"
            class="button">
            <div class="center">
                <i class="icon cib-linkedin"></i>
                <p>LinkedIn</p>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a target="_blank" rel="noopener noreferrer" href="https://lucas-b.itch.io/" class="button">
            <div class="center">
                <i class="icon cib-itch-io">
                </i>
                <p>Itch.io</p>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/LucasBoe" class="button">
            <div class="center">
                <i class="icon cib-github"></i>
                <p>Github</p>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a target="_blank" rel="noopener noreferrer" href="https://www.artstation.com/lucasb" class="button">
            <div class="center">
                <i class="icon cib-artstation"></i>
                <p>Artstation</p>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a target="_blank" rel="noopener noreferrer"
            href="https://www.youtube.com/playlist?list=PLUh_2jGbuKriGjzoVUlgRANhqfz3EmOaG" class="button">
            <div class="center">
                <i class="icon cib-youtube"></i>
                <p>Let's Plays of my games</p>
            </div>
        </a>
    </div>
</div>

<!-- Desktop linkouts -->
<div class="row justify-content-evenly d-only pt-4">
    <div class="col">
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/lucas-b%C3%B6deker-98ba65151/"
            class="tooltip-icon-button">
            <i class="icon cib-mail-ru">
                <span class="textbox">mail me: <i>lucas@lumotex.de</i>!</span></i>
        </a>
    </div>
    <div class="col">
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/lucas-b%C3%B6deker-98ba65151/"
            class="tooltip-icon-button ">
            <i class="icon cib-linkedin">
                <span class="textbox">Connect with me on LinkedIn!</span></i>
        </a>
    </div>
    <div class="col">
        <a target="_blank" rel="noopener noreferrer" href="https://lucas-b.itch.io/" class="tooltip-icon-button ">
            <i class="icon cib-itch-io">
                <span class="textbox">Play my games on Itch.io!</span>
            </i>
        </a>
    </div>
    <div class="col">
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/LucasBoe" class="tooltip-icon-button ">
            <i class="icon cib-github">
                <span class="textbox">Look at my repositorys on Github!</span></i>
        </a>
    </div>
    <div class="col">
        <a target="_blank" rel="noopener noreferrer" href="https://www.artstation.com/lucasb"
            class="tooltip-icon-button ">
            <i class="icon cib-artstation"><span class="textbox">Look at my art on Artstation!</span></i>
        </a>
    </div>
    <div class="col">
        <a target="_blank" rel="noopener noreferrer"
            href="https://www.youtube.com/playlist?list=PLUh_2jGbuKriGjzoVUlgRANhqfz3EmOaG"
            class="tooltip-icon-button ">
            <i class="icon cib-youtube"><span class="textbox">Watchs Let's Plays of my games!</span></i>
        </a>
    </div>
</div>