<div id="project-popup-blend">
    <div id="project-window">
        <div class="header .container-fluid">
            <!--
            <div class="row align-items-end">
                <div class="preview col-auto">
                    <div class="logo-holder"></div>
                </div>
            </div>
            -->
            <div class="preview"></div>
            <div class="logo-holder"></div>
            <div class="linkout-container container-flex">
                <div class="align-items-start">
                    <div class="col col-auto" id="LinkoutItch">
                        <a target="_blank" rel="noopener noreferrer" href="https://lucas-b.itch.io/lies-below"
                            class="project-linkout button">
                            <i class="icon cib-itch-io"></i>
                            <p>Play on Itch.io</p>
                        </a>
                    </div>
                    <div class="col col-auto" id="LinkoutGithub">
                        <a target="_blank" rel="noopener noreferrer"
                            href="https://github.com/LucxMangaJet/AllThatLiesBelow" class="project-linkout button">
                            <i class="icon cib-github"></i>
                            <p>Look at github repository</p>
                        </a>
                    </div>
                    <div class="col col-auto" id="LinkoutWebsite">
                        <a target="_blank" rel="noopener noreferrer"
                            href="https://github.com/LucxMangaJet/AllThatLiesBelow" class="project-linkout button">
                            <i class="icon cil-external-link"></i>
                            <p>Visit website</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="awards">

            </div>
        </div>
        <div id="project-holder" class="project-body container-fluid">

        </div>
        <i class="cil-x overlay-button close closeProject" id="close"></i>
    </div>
</div>