<div id="project-popup-blend">
    <div id="project-window">
        <div class="header .container-fluid">
            <div class="row align-items-end">
                <div class="preview col-md-7 col-auto">

                </div>
                <div class="col-md container-flex">
                    <div class="row align-items-end justify-content-center">
                        <div class="col logo-holder"></div>
                    </div>
                    <div class="row align-items-end justify-content-center">
                        <div class="col col-auto" id="LinkoutItch">
                            <a target="_blank" rel="noopener noreferrer" href="https://lucas-b.itch.io/lies-below"
                                class="project-linkout button">
                                <i class="icon cib-itch-io"></i>
                                <p>Play on Itch.io</p>
                            </a>
                        </div>
                        <div class="col col-auto" id="LinkoutGithub">
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://github.com/LucxMangaJet/AllThatLiesBelow" class="project-linkout button">
                                <i class="icon cib-github"></i>
                                <p>Look at github repository</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="project-holder" class="project-body container-fluid">

        </div>
        <i class="cil-x overlay-button closeProject" id="close"></i>
    </div>
</div>