<div class="row mobile-m-2">
    <div class="col">
        <h6>core skills:</h6>
        <ul>
            <li>Game Design</li>
            <li>Prototyping</li>
            <li>Team management</li>
        </ul>
    </div>
    <div class="col">
        <h6>development skills:</h6>
        <ul>
            <li>Programming</li>
            <li>2D & 3D asset creation</li>
            <li>iterative & agile workflows</li>
        </ul>
    </div>
</div>

<div class="row justify-content-evenly skillbox mobile-m-2">
    <div class="col">
        <a class="skillgroup">
            <div>
                <h6>Engines</h6>
                <div class="icons">
                    <i class="icon cib-unity"></i>
                    <i class="icon cib-unreal-engine"></i>
                    <i class="icon icon-gamemaker"></i>
                </div>
            </div>
            <ul class="mobile-only">
                <li>started using GameMaker 10 years ago</li>
                <li>nowadays mostly Unity with 100s of big and small projects</li>
                <li>confident working in Unreal-Engine using blueprints as well</li>
            </ul>
        </a>
    </div>

    <div class="col">
        <a class="skillgroup">
            <div class="w50">
                <h6>Workflow</h6>
                <div class="icons">
                    <i class="icon icon-miro"></i>
                    <i class="icon cib-slack"></i>
                    <i class="icon icon-excel"></i>
                    <i class="icon cib-git"></i>
                    <i class="icon icon-svn"></i>
                    <i class="icon cib-visual-studio"></i>
                </div>
            </div>
            <ul class="mobile-only">
                <li>Miro as favorite flexible whiteboard-like tool for design work</li>
                <li>Excel and comparable tools for balacing or content planning</li>
                <li>proficient with using version controll (git & svn)</li>
            </ul>
        </a>
    </div>

    <div class="col">
        <a class="skillgroup">
            <div>
                <h6>Code</h6>
                <div class="icons">
                    <i class="icon text-icon-csharp">c#</i>
                    <i class="icon cib-python"></i>
                    <i class="icon cib-java"></i>
                    <i class="icon cib-lua"></i>
                    <i class="icon text-icon-gml">GML</i>
                </div>
            </div>
            <ul class="mobile-only">
                <li>c# for prototyping confidently for most projects</li>
                <li>python for tooling and backend related chalenges</li>
                <li>broad range of scripting languages (e.g. lua & gml)</li>
            </ul>
        </a>
    </div>

    <div class="col">
        <a class="skillgroup">
            <div>
                <h6>Visuals</h6>
                <div class="icons">
                    <i class="icon cib-adobe-photoshop"></i>
                    <i class="icon cib-adobe-after-effects"></i>
                    <i class="icon cib-adobe-premiere"></i>
                    <i class="icon cib-blender"></i>
                    <i class="icon icon-maya"></i>
                    <i class="icon icon-substance"></i>
                </div>
            </div>
            <ul class="mobile-only">
                <li>10 years of experience of using photoshop</li>
                <li>premiere and after effects for movies and special effects</li>
                <li>blender / maya for 3D work, substance for texturing</li>
            </ul>
        </a>
    </div>

    <div class="col">
        <a class="skillgroup">
            <div>
                <h6>Web</h6>
                <div class="icons">
                    <i class="icon cib-visual-studio-code"></i>
                    <i class="icon cib-javascript"></i>
                    <i class="icon cib-jquery"></i>
                    <i class="icon cib-html5"></i>
                    <i class="icon cib-css3"></i>
                    <i class="icon cib-php"></i>
                </div>
            </div>
            <ul class="mobile-only">
                <li>handmade this website</li>
                <li>selftought web development, turned out to be useful skill</li>
                <li>confident using js, jquery, css and php</li>
            </ul>
        </a>
    </div>

</div>
<div class="row d-only">
    <div class="col">
        <p id="skillgroup-text-container">

        </p>
    </div>
</div>